* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container {
	display: flex;
	gap: 15px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
}
.boxes-wrapper {
	display: flex;
	flex-wrap: wrap;
	max-width: 600px;
	max-height: 600px;
	height: 100%;
	width: 100%;
}
.box {
	flex-shrink: 1;
	flex-grow: 1;
	text-align: center;
	transition: background-color 0.2s ease-in-out;
	background-color: rgba(0, 0, 0, 0.03);
}
.black {
	background-color: black;
}
button {
	padding: 3px 10px;
}
.btn-wrapper {
	max-width: 600px;
	width: 100%;
	display: flex;
	gap: 10px;
	align-items: center;
}
.range {
	text-align: center;
	font-size: 0.8rem;
}